@import "@signtusk/ui/styles/theme.css";

/* Inter Variable Fonts */
@font-face {
  font-family: "IBM Plex Sans";
  src: url("/fonts/inter-variablefont_opsz,wght.ttf")
    format("truetype-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

/* Inter Italic Variable Fonts */
@font-face {
  font-family: "IBM Plex Sans";
  src: url("/fonts/inter-italic-variablefont_opsz,wght.ttf")
    format("truetype-variations");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

/* Caveat Variable Font */
@font-face {
  font-family: "Dancing Script";
  src: url("/fonts/caveat-variablefont_wght.ttf") format("truetype-variations");
  font-weight: 400 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans";
  src: url("/fonts/noto-sans.ttf") format("truetype-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@layer base {
  :root {
    --font-sans: "IBM Plex Sans";
    --font-signature: "Dancing Script";
    --font-noto: "Noto Sans";
  }
}
